<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" th:href="@{/resources/favicon.ico}">

    <title th:text="#{admin.login.title}">TITLE</title>

    <link th:href="@{/resources/vendors/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/resources/css/admin-login.css}" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-signin" th:action="@{/j_spring_security_check}" method="post">
    <h1 class="h3 mb-3 font-weight-normal" th:text="#{admin.login.form.header}">FORM TITLE</h1>
    <label for="inputUsername" class="sr-only" th:text="#{admin.login.form.input.username}">LOGIN LABEL</label>
    <input type="text" id="inputUsername" name="username" class="form-control" th:placeholder="#{admin.login.form.input.username}" required autofocus>
    <label for="inputPassword" class="sr-only" th:text="#{admin.login.form.input.password}">PASSWORD LABEL</label>
    <input type="password" id="inputPassword" name="password" class="form-control" th:placeholder="#{admin.login.form.input.password}" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{admin.login.form.input.submit}">SUBMIT FORM</button>
</form>
</body>
</html>