<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/inlove.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>./logs/inlove.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- total size of all archive files, if total size > 10MB,
                it will delete old archived file -->
            <totalSizeCap>100MB</totalSizeCap>
            <!-- days to keep -->
            <maxHistory>20</maxHistory>
        </rollingPolicy>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>%d %p %c{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>


    <springProfile name="dev">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

        <logger name="by.inlove.shop" level="trace" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE-ROLLING"/>
        </logger>

        <root level="debug">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE-ROLLING"/>
        </root>
    </springProfile>


    <springProfile name="prod">
        <logger name="by.inlove.shop" level="debug" additivity="false">
            <appender-ref ref="FILE-ROLLING"/>
        </logger>

        <root level="error">
            <appender-ref ref="FILE-ROLLING"/>
        </root>
    </springProfile>
</configuration>