<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="ru">
<head>
    <title>InLove - Статьи</title>

    <meta th:include="fragment/meta :: meta-info" th:remove="tag"/>

    <link th:href="@{/resources/vendors/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/resources/css/styles.css}" rel="stylesheet" type="text/css">
</head>
<body>
    <meta th:include="fragment/common-body-meta :: body-meta-info" th:remove="tag"/>

    <header th:replace="fragment/header :: header(articlesPage = 'y')"></header>

    <main role="main">
        <div class="container main-content">
            <div class="article">
                <div class="accordion-container">
                    <div class="accordion d-flex flex-row align-items-center">
                        Как определить размер бюстгальтера?
                    </div>
                    <div class="accordion-panel">
                        <br>
                        <img th:src="@{/resources/img/article/how_to_choose_bra_size_1.jpg}" alt="Как определить размер бюстгальтера">
                        <br>
                        <p>
                            Хотите – верьте, хотите – нет, но примерно 80% женщин носят бюстгальтеры, которые им не подходят
                            по размеру. Большинство из них носят слишком большие в диаметре бюстгальтеры, но с маленькими
                            чашечками. Если вы хотите подобрать себе белье по размеру, то интернет магазин inlove расскажет как это сделать.
                        </p>
                        <p>
                            Размер бюстгальтера определяется двумя параметрами – цифрой и буквой (75 В). Цифра – это обхват
                            под грудью, а буква – это полнота чашки бюстгальтера. А как узнать, какой размер бюстгальтера подходит вам?
                        </p>
                        <p>
                            Вооружитесь сантиметровой лентой и найдите помощника для снятия мерок. Обратите внимание на
                            то, что мерки в вас должен снимать другой человек, следя, чтобы лента была не слишком натянута
                            или чересчур ослаблена и оставалась параллельной полу. Лучше производить измерения не на голое тело,
                            а в тряпичном топике (без пуш-апа, дополнительных чашек), который слегка округлит выступающие точки и
                            даст произвести более точные измерения.
                        </p>
                        <p>
                            1. На вдохе измерьте объем корпуса под грудью. Запишите или запомните полученную цифру.
                            <br>2. Измерьте объем груди по самым выступающим точкам. Результат запомните.
                            <br>3. Отнимите от большей цифры меньшую. Полученное число будет означать размер чашки бюстгальтера
                            в соответствии с таблицей.
                        </p>
                        <p>
                            Представленные расчеты не всегда дают 100% результат, это всего лишь некий ориентир, благодаря которому вы сможете сразу отобрать неподходящее белье.
                        </p>
                        <img th:src="@{/resources/img/article/how_to_choose_bra_size_2.jpg}" alt="Как определить размер бюстгальтера">
                    </div>
                </div>
            </div>
            <div class="article">
                <div class="accordion-container">
                    <div class="accordion d-flex flex-row align-items-center">
                        Как правильно стирать бюстгальтер?
                    </div>
                    <div class="accordion-panel">
                        <br>
                        <img th:src="@{/resources/img/article/how_to_wash_bra_1.jpg}" alt="Как правильно стирать бюстгалтер">
                        <br>
                        <p>
                            Бюстгальтер – одна из самых красивых и капризных деталей гардероба женщины. Неправильный уход
                            способен буквально за несколько стирок превратить белье в невнятную деформированную тряпицу.
                            Чтобы чарующий элемент наряда максимально долго сохранял цвет и форму интернет-магазин нижнего
                            белья inlove рассказывает вам простые правила:
                        </p>
                        <p>
                            1. Бюстгальтеры без косточек и плотных чашечек можно постирать в стиральной машине в
                            специальных сеточках, предварительно рассортировав их по цветам и застегнув фиксирующие крючки.
                            <br>2. Шелковые, синтетические, кружевные бюстгальтеры, оснащенные косточками или системой пуш-ап
                            нельзя стирать в машине. Его следует замочить в теплой воде с растворенным мягким моющим средством,
                            оставить на несколько минут. После этого постирать, избегая чрезмерного механического воздействия.
                            <br>3. Выкручивать и выжимать бюстгальтер не стоит, лучше промокнуть полотенцем.
                            <br>4. Не стоит использовать отбеливающие составы для стирки бюстгальтеров. Они могут
                            повредить материал. Лучше в этом случае воспользоваться перекисью водорода.
                            <br>5. Важна и правильная сушка этого капризного элемента гардероба. Нельзя подвешивать бюстгальтер,
                            фиксируя лямку, это приводит к потере формы. Оптимальные условия сушки: в расправленном виде
                            на горизонтальной поверхности.
                        </p>
                        <p>
                            Как видите правила стирки очень просты и при соблюдении их ваши бюстики будут радовать вас
                            своим внешним видом долгое время.
                        </p>
                    </div>
                </div>
            </div>
            <div class="article">
                <div class="accordion-container">
                    <div class="accordion d-flex flex-row align-items-center">
                        Что такое параллельный размер бюстгальтера?
                    </div>
                    <div class="accordion-panel">
                        <br>
                        <img th:src="@{/resources/img/article/what_is_parallel_bra_size_1.jpg}" alt="Что такое параллельный размер бюстгальтера">
                        <br>
                        <p>
                            Иногда бывает так, что выбранный бюстгальтер вроде бы подходит по размеру, но при этом лифчик
                            сидит не очень удачно или вообще впивается в тело. Греша на особенности собственной фигуры,
                            некоторые женщины годами носят неудобное белье. Но постараться решить эту проблему можно,
                            использовав взаимозаменяемые размеры бюстгальтеров. Их также называют параллельными, соседними,
                            смежными и сестринскими.
                        </p>
                        <h6 class="text-center">Принцип действия соседних размеров</h6>
                        <p>
                            Представьте, что ваш традиционный размер бюстгальтера – 80C. У него существует два смежных размера:
                            <br>75D, с помощью которого можно подобрать меньший размер пояса.
                            <br>85B, благодаря которому можно подобрать пояс на размер побольше.
                        </p>
                        <p>
                            Объем чашечки лифчика во всех этих случаях остается неизменным, поэтому для того, чтобы успешно
                            пользоваться возможностями параллельных размеров, его нужно уточнить заранее. Как научиться
                            определять размер чашки, рассказано здесь.
                        </p>
                        <p>
                            Узнав схему, по которой подбирается соседний размер, можно вычислить подходящий для себя.
                            Чтобы это сделать, найдите в таблице ниже свой размер бюстгальтера:
                        </p>
                        <img th:src="@{/resources/img/article/what_is_parallel_bra_size_2.jpg}" alt="Что такое параллельный размер бюстгальтера">
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace="fragment/footer :: footer"></footer>
    </main>

    <script th:src="@{/resources/vendors/jquery/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/resources/vendors/bootstrap/js/popper.js}"></script>
    <script th:src="@{/resources/vendors/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/resources/js/initialize.js}"></script>
    <!-- Required for accordeons -->
    <script th:src="@{/resources/js/contact_custom.js}"></script>
</body>
</html>