<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="ru">
<head>
    <title>InLove - Программа лоялности</title>

    <meta th:include="fragment/meta :: meta-info" th:remove="tag"/>

    <link th:href="@{/resources/vendors/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/resources/css/styles.css}" rel="stylesheet" type="text/css">
</head>
<body>
    <meta th:include="fragment/common-body-meta :: body-meta-info" th:remove="tag"/>

    <header th:replace="fragment/header :: header(feedbackPage = 'y')"></header>

    <main role="main">
        <div class="container main-content">
            <h3 class="text-center">В нашем интерне-магазине нижнего белья действует система лояльности для наших покупателей</h3>
            <br><br>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Условия заказа</th>
                        <th>Бонусы</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>При заказе на сумму выше 35 BYN</td>
                        <td>Доставка БЕСПЛАТНАЯ!</td>
                    </tr>
                    <tr>
                        <td>При заказе на сумму выше 50 BYN</td>
                        <td>Трусики Вашего размера в подарок!</td>
                    </tr>
                    <tr>
                        <td>При заказе на сумму выше 70 BYN</td>
                        <td>Бюстгальтер Вашего размера в подарок!</td>
                    </tr>
                    <tr>
                        <td>При заказе на сумму выше 100 BYN</td>
                        <td>Комплект белья Вашего размера в подарок!</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <footer th:replace="fragment/footer :: footer"></footer>
    </main>

    <script th:src="@{/resources/vendors/jquery/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/resources/vendors/bootstrap/js/popper.js}"></script>
    <script th:src="@{/resources/vendors/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/resources/js/initialize.js}"></script>
</body>
</html>